Hi,

Version [% alert.version %] of [% alert.distribution %] was released on [% alert.released.strftime('%e/%m/%Y at %H:%M') %].

"[% alert.abstract %]"


Time to get updating!

--

The CPAN Monitor Team

