Hi,

Version [% distribution.version %] of [% distribution.distribution.replace('-', '::') %] was released on [% distribution.date %].

"[% distribution.abstract %]"


Time to get updating!

--

The CPAN Monitor Team

