<!DOCTYPE HTML>
<html>

	<head>
		<title>Change Password</title>
	   
		<link type="text/css" rel="stylesheet" media="screen" href="/static/css/admin.css" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
	</head>

	<body id="change-password">

		[% INCLUDE 'include/header.tt' %]
		
		<div id="content">
		
			<h2>Change Password</h2>

[% INCLUDE 'auth/include/messages.tt' %]

			<form method="post" action="[% c.uri_for_action('/auth/change_password', [ c.user.id ] ) | html %]" autocomplete="off">

			[% form.field('old_password').render %]
			
			[% form.field('password').render %]

			[% form.field('confirm_password').render %]
			
			[% form.field('submit').render %]

			</form>

			<p id="cancel-password-change"><a href="[% IF c.check_user_roles('admin') %][% c.uri_for_action('/admin/sessions') %][% ELSE %][% c.uri_for_action('index') %][% END %]">Cancel password change</a></p>

		</div>

		<div class="clearBoth"></div>

	</body>

</html>
