<!DOCTYPE HTML>
<html>

	<head>
		<title>Forgot Password</title>
	   
		<link type="text/css" rel="stylesheet" media="screen" href="/static/css/admin.css" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
	</head>

	<body id="forgot-password">

		<div id="content">
		
			<h2>Forgot Password</h2>

[% IF status_msg %]
			<p>[% status_msg %]</p>
[% ELSE %]
	[% IF error_msg %]
						<p class="error">[% error_msg | html %]</p>
	[% END %]
	[% IF form.has_errors %]
			<p class="error">Some fields had errors:</p>
						
			<ul class="errors">
		[% FOREACH msg IN form.errors %]
				<li>[% msg | html %]</li>
		[% END %]
			</ul>
	[% END %]
			<form method="post" action="[% c.uri_for_action('/auth/forgot_password').hostless | html %]" autocomplete="off">

			[% form.field('email').render %]
			
			[% form.field('submit').render %]

			</form>
[% END %]	
		</div>

		<div class="clearBoth"></div>

	</body>

</html>
