<!DOCTYPE HTML>
<html>

	<head>
		<title>Reset Password</title>
	   
		<link type="text/css" rel="stylesheet" media="screen" href="/static/css/admin.css" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
	</head>

	<body id="reset-password">

		<div id="content">
		
			<h2>Reset Password</h2>

[% INCLUDE 'auth/include/messages.tt' %]
			
			<form method="post" action="[% c.uri_for_action('/auth/reset_password') | html %]" autocomplete="off">

			[% form.field('token').render %]

			[% form.field('password').render %]

			[% form.field('confirm_password').render %]
			
			[% form.field('submit').render %]

			</form>

		</div>

		<div class="clearBoth"></div>

	</body>

</html>
