<!DOCTYPE HTML>

<html>
	<head>
		<title>Monitoring</title>

		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/2">
		<link rel="stylesheet" href="/static/css/admin.css">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script src="/static/js/timeago.js"></script>
		<script src="/static/js/site.js"></script>
	</head>
	<body id="monitor">
	
[% INCLUDE 'include/header.tt' %]

		<div id="content">
		
			<h2>Monitor</h2>

			<table>
				<tr>
					<th>Distribution</th>
					<th>Author</th>
					<th>Version</th>
					<th>Dev</th>
					<th>Abstract</th>
					<th>Send To</th>
					<th>Checked</th>
					<th>Updated</th>
				</tr>
				
[% FOREACH user_alert IN user_alerts %]
				<tr>
				
					<td>[% user_alert.alert.distribution.replace('-', '::') %]</td>
					<td>[% user_alert.alert.author %]</td>
					<td>[% user_alert.alert.version %]</td>
					<td>[% user_alert.development %]</td>
					<td>[% user_alert.alert.abstract %]</td>
					<td>[% user_alert.email %]</td>
					<td>[% format_fuzzy_date( user_alert.alert.checked ) %]</td>
					<td>[% format_fuzzy_date( user_alert.alert.updated ) %]</td>
				</tr>
[% END %]

			</table>
			
		</div>

[% INCLUDE 'include/footer.tt' %]

	</body>
</html>
